<div class="container-fluid pt-3">
    <p class="h1" style="margin-bottom: 20px;">ABOUT ME</p>


    <span style="font-size: 16pt;font-family: 'Montserrat', sans-serif;line-height: 30pt;  word-spacing: 16px;">I'm a self-taught web developer experienced in shaping innovative features from inception to implementation. I specialize in translating wireframes and design flows into high-performance web applications, always prioritizing user experience. My expertise lies in writing reusable, efficient code and infusing projects with a blend of design, technology, and innovation, guiding them from ideation to launch. Presently, I'm concentrating on backend development to further refine my technical skills for creating robust software solutions</span>
    
</div>